.fill-container {
	width: 100%;
	height: 100%;
}

.desktop .bigger {
	font-size: xxx-large;
}

.desktop .even-bigger {
	font-size: 10vh;
}

.desktop .smaller {
	font-size: x-large;
}

.desktop * {
	font-size: xx-large;
}

.mobile * {
	font-size: x-large;
}

.mobile .bigger {
	font-size: xx-large;
}

.mobile .smaller {
	font-size: large;
}

.h-10-percent {
	height: 10%;
}

.h-15-percent {
	height: 15%;
}

.h-20-percent {
	height: 20%;
}

.h-25-percent {
	height: 25%;
}

.h-30-percent {
	height: 30%;
}

.h-35-percent {
	height: 35%;
}

.h-40-percent {
	height: 40%;
}

.h-50-percent {
	height: 50%;
}

.h-60-percent {
	height: 60%;
}

.h-75-percent {
	height: 75%;
}

.h-80-percent {
	height: 80%;
}

.h-85-percent {
	height: 85%;
}

.h-90-percent {
	height: 90%;
}

.h-100-percent {
	height: 100%;
	max-height: 100%;
}

.no-vertical-padding {
	padding-top: 0;
	padding-bottom: 0;
}

.no-margin {
	margin: 0;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.only-margin-top {
	margin-bottom: 0;
	margin-top: 40px;
}

.center-text-vertically {
	display: flex;
	justify-content: center; /* Align horizontal */
	align-items: center; /* Align vertical */
}

/* Remove buttons caps lock */
.no-caps {
	text-transform: none;
}

.disabled-opaque {
	opacity: 1;
}

.justify-elements-vertically {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

ion-card.ios {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.large-padding {
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 15%;
	padding-right: 15%;
}

.graph-col-width {
	max-width: 80%;
	width: 100px;
}

.align-bottom {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.w-100-percent {
	width: 100%;
}

.text-transparent {
	color: transparent;
}

.center-vertically {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.very-very-big.desktop {
	font-size: 60vh;
}

.very-very-big.mobile {
	font-size: 40vh;
}

.scroll-y {
	overflow-y: scroll;
}

.border-bottom {
	border: 0px;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;
}

.bigger-checkbox {
	width: 50%;
	height: auto;
	padding-top: 25%;
	padding-bottom: 25%;
}

.bigger-button {
	width: 60%;
	height: 60%;
	font-size: larger;
}
